<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wisezone.crm.dao.SaleChanceDao">

	<sql id="SaleChance_Columns">
		id, chanceSource, customerId, customerName, cgjl, overview, linkMan,
		linkPhone, description, createMan,
		assignMan, assignTime, state, devResult, isValid, CreateDate, UpdateDate
	</sql>

	<!-- 分页查询 -->
	<select id="selectForPage" resultType="SaleChance">
		SELECT
		<include refid="SaleChance_Columns" />
		FROM
		t_sale_chance
		<where>
			isValid = 1
			<if test="@Ognl@isNotEmpty(customerName)">
				AND customerName LIKE '%${customerName}%'
			</if>
			<if test="@Ognl@isNotEmpty(overview)">
				AND overview LIKE '%${overview}%'
			</if>
			<if test="@Ognl@isNotEmpty(createMan)">
				AND createMan LIKE '%${createMan}%'
			</if>
			<if test="@Ognl@isNotEmpty(state)">
				AND state = #{state}
			</if>
			<if test="@Ognl@isNotEmpty(devResult)">
				AND devResult = #{devResult}
			</if>
		</where>
	</select>

	<!-- 添加 -->
	<insert id="insert" useGeneratedKeys="true" keyProperty="id">
		insert into t_sale_chance (
		chanceSource, customerId, customerName, cgjl, overview, linkMan, linkPhone,
		description, createMan,
		assignMan, assignTime, state, devResult, isValid, CreateDate, UpdateDate
		) values (
		#{chanceSource}, #{customerId}, #{customerName}, #{cgjl}, #{overview}, #{linkMan},
		#{linkPhone}, #{description}, #{createMan},
		#{assignMan}, #{assignTime}, #{state}, #{devResult}, 1, now(), now()
		)
	</insert>

	<!-- 更新 -->
	<update id="update">
		update
		t_sale_chance
		<set>
			<if test="@Ognl@isNotEmpty(chanceSource)">
				chanceSource = #{chanceSource},
			</if>
			<if test="@Ognl@isNotEmpty(customerId)">
				customerId = #{customerId},
			</if>
			<if test="@Ognl@isNotEmpty(customerName)">
				customerName = #{customerName},
			</if>
			<if test="@Ognl@isNotEmpty(cgjl)">
				cgjl = #{cgjl},
			</if>
			<if test="@Ognl@isNotEmpty(overview)">
				overview = #{overview},
			</if>
			<if test="@Ognl@isNotEmpty(linkMan)">
				linkMan = #{linkMan},
			</if>
			<if test="@Ognl@isNotEmpty(linkPhone)">
				linkPhone = #{linkPhone},
			</if>
			<if test="@Ognl@isNotEmpty(description)">
				description = #{description},
			</if>
			<if test="@Ognl@isNotEmpty(createMan)">
				createMan = #{createMan},
			</if>
			<if test="@Ognl@isNotEmpty(assignMan) ">
				assignMan = #{assignMan},
			</if>
			<if test="@Ognl@isNotEmpty(assignTime)">
				assignTime = #{assignTime},
			</if>
			<if test="@Ognl@isNotEmpty(state)">
				state = #{state},
			</if>
			<if test="@Ognl@isNotEmpty(devResult)">
				devResult = #{devResult},
			</if>
			UpdateDate = now()
		</set>
		where
		id = #{id}
	</update>

	<!-- 删除单条 -->
	<update id="delete">
		update
		t_sale_chance
		set
		isValid = 0, updateDate = now()
		where
		id = #{id}
	</update>

	<!-- 批量删除 -->
	<update id="deleteBatch">
		update
		t_sale_chance
		set
		isValid = 0, updateDate = now()
		where
		id in (${ids})
	</update>
</mapper>